 body::before {
     display: block;
     content: "";
     height: 60px;
 }
 
 @media (min-width: 768px) {
     .news-input {
         width: 50%;
        }
     #langs {
        height: 350px;
        width: 500px;
     }   
 }